{% extends 'base.html' %}
{% block title %}
 Dashboard
{% endblock %}

{% block content %}
{% load static %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Dashboard</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">{{user.username}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!--   Dashboard Start   -->
{% include 'include/messages.html' %}
<div class="container mt-50 mb-50">
	<div class="main-title" style="text-align:left !important;">
            <h1>Welcome <span>{{user.username}}</span></h1>
            <p>Here are the cars that you have inquired about</p>
        </div>
	 {% if data %}
	<table class="table table-hover">
	  <thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Car Name</th>
		  <th scope="col">Location</th>
		  <th scope="col">State</th>
		  <th scope="col">Action</th>
		  <th scope="col">View</th>
		</tr>
	  </thead>
	  <tbody>
	  {% for value in data %}
		<tr>
		  <th scope="row">1</th>
		  <td>{{value.car_title}}</td>
		  <td>{{value.city}}</td>
		  <td>{{value.state}}</td>
		  <td><a href="{% url 'delete' value.car_id %}" class="btn btn-outline-dark">Delete</a></td>
		  <td><a href="{% url 'latest_car' value.car_id %}" class="btn btn-outline-dark">View</a></td>
		</tr>
	  {% endfor %}

<!--	  {% for val in cardata %}-->
<!--		<tr>-->
<!--		  <th scope="row">1</th>-->
<!--		  <td>{{val.car_title}}</td>-->
<!--		  <td>{{val.city}}</td>-->
<!--		  <td>{{val.state}}</td>-->
<!--		  <td><a href="{% url 'car_detail'  val.car_id %}" class="btn btn-outline-dark">View Car</a></td>-->
<!--		</tr>-->
<!--	  {% endfor %}-->

	  </tbody>
	</table>
	{% else %}
	<h4>You have'nt make any inquiry about any cars</h4>
	{% endif %}
</div>

<!--   Dashboard End   -->



{% endblock %}